<div class="calander">
  <div class="top">
    <div class="arrow left" onclick="turnLeft();">
    </div>
    <div class="font">
      
    </div>
    <div class="arrow right" onclick="turnRight();">
    </div>
  </div>
      <table class="day-bar">
      <tbody>
        <tr>
          <td>Sunday</td>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
        </tr>
      </tbody>
    </table>
  <div class="container">
  </div>
</div>